body {
	text-align: center;
	margin: 0px;
}
.title {
	background-color: black;
	color: lightgrey;
	text-align: left;
	padding: 30px 40px 30px 50px;
}
.title h1{
	margin: 0px;
}
#inputField {
	width: 95%;
	height: 30px;
	border-radius: 5px;
}
#addButton, #deleteAllButton{
	background-color: crimson;
	color:white;
	height: 40px;
}

table{
	text-align: left;
	margin-top: 30px;
	border: 1px solid lightgrey;
	padding-left: 10px;
	border-radius: 5px;
	background-color: aquamarine;
}

#toDOList{
	width: 80%;
	margin-left: 10%;
}
.check, .delete{
	width:70px;
}
.delete button{
	background-color: black;
	color:white;
	border-radius: 5px;
}
.undone p{
	text-decoration: none;
}
.done p{
	text-decoration: line-through;
}